.container {
  padding: 0 2rem;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column;
  min-height: 100vh;
  padding: 1rem 0;
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem 0;

  a {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
