.registrationForm {
  display: flex;
  flex-flow: column;

  button {
    align-self: flex-start;
  }
}

.required {
  &::after {
    color: rgb(255 0 0);
    content: "*";
    display: inline-block;
    margin-left: 0.25em;
  }
}
